.game{
    display: flex;
    justify-content: center;
}

.mid-section{
    box-sizing: border-box;
    width: 20vw;
    padding: 25px;
}

.grid{
    width: 500px;
    height: 500px;
    background-color: black;
    padding: 3px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 3px;
}

.cell{
    background-color: white;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 2rem;
}

.ship-cell{
    background-color: blue;
}

.sunk-ship-cell{
    background-color: red;
}